@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');


body {
  margin: 0;
  font-family:"Lato", sans-serif;
  text-align: center;
  font-color: #7C2A30;
}

nav {
  padding: 15px;
  background-color: purple;
}


ul {
  list-style-type: none;
}

ul {
  list-style-type:none;
}
ul li {
  display:inline-block;
  font-size:20px;
  padding:10px;
}

li a:link {
  color:white;
  text-decoration:none;
}
li a:hover{
  text-decoration:underline;
}

li a:visited {
  color:white;
  text-decoration:none;
}

li a:active {
  color:white;
  text-decoration:none;
}

